<div class="information request-info">
  <h4>Request #<%= @request_record.id %></h4>
  <% if current_key.active? %>
    <div class="action-menu">
      <button class="action-button" onclick="location.href='/request_records/edit/<%= @request_record.id %>';">
        Edit Request
      </button>
    </div>
  <% end %>
  <h5>Entity:</h5>
  <p><%= @request_record.entity.number %></p>
  <h5>Type:</h5>
  <p><%= @request_record.request_type.description %></p>
  <h5>Description:</h5>
  <p><%= @request_record.description %></p>
  <p class="last-user">Last modified by: <%= @request_record.user.full_name %></p>
</div>
<div class="information service-info">
  <% if service_record = @request_record.service_record %>
      <h4>Service #<%= service_record.id %></h4>
      <% if current_key.active? %>
        <div class="action-menu">
          <button class="action-button" onclick="location.href='/service_records/edit/<%= @request_record.service_record.id %>';">
            Edit Service
          </button>
        </div>
      <% end %>
      <h5>Type:</h5>
      <p><%= service_record.service_type.description %></p>
      <h5>Description:</h5>
      <p><%= service_record.description %></p>
      <h5>Closed at:</h5>
      <p><%= service_record.closed_at %></p>
      <p class="last-user">Last modified by: <%= service_record.user.full_name %></p>
  <% else %>
    <h4>No service for this request</h4>
    <% if current_key.active? %>
      <div class="action-menu">
        <form method="get" action="/service_records/new">
          <input type="hidden" name="request_record_id" value=<%=@request_record.id%>>
          <input class="action-button" type="submit" value="Create Service" class="new-button new-service">
        </form>
      </div>
    <% end %>
  <% end %>
</div>
