<div class="info request-info">
  <h4>Request #<%= @request_record.id %></h4>
  <h5>Entity:</h5>
  <p><%= @request_record.entity.id %></p>
  <h5>Type:</h5>
  <p><%= @request_record.request_type.description %></p>
  <h5>Description:</h5>
  <p><%= @request_record.description %></p>
</div>
<% if service_record = @request_record.service_record %>
  <div class="info service-info">
    <h4>Service #<%= service_record.id %></h4>
    <h5>Type:</h5>
    <p><%= service_record.service_type.description %></p>
    <h5>Description:</h5>
    <p><%= service_record.description %></p>
    <h5>Closed at:</h5>
    <p><%= service_record.closed_at %></p>
  </div>
<% else %>
  <form method="get" action="/service_records/new">
    <input type="hidden" name="request_record_id" value="<%=@request_record.id%>">
    <input type="submit" value="Create Service" class="create-service">
  </form>
<% end %>
