<div class="new_entry">
  <a href="/log_entries/new">Add New Log Entry</a>
</div>
<table class="table log_entries-table">
  <tr class="table-header">
    <th>Entity</th>
    <th>Request Information</th>
    <th>Service</th>
    <th>Additional Information</th>
    <th>Closed at</th>
  </tr>
  <% @log_entries.each do |log_entry| %>
  <tr class="table-row">
    <td><a href="entities/<%= log_entry.entity.id %>" ><%= log_entry.entity.description %></a></td>
    <td><%= log_entry.info %></td>
    <td><%= log_entry.service&.description %></td>
    <td><%= log_entry.service&.details %></td>
    <td><%= log_entry.service&.closed_at %></td>
  </tr>
  <% end %>
</table>
