<div class="new_entry">
  <a href="/request_records/new">Add New Service Request</a>
</div>
<div class="new_entry">
  <a href="/service_records/new">Add New Service Record</a>
</div>
<table class="table log_entries-table">
  <tr class="table-header">
    <th>Entity</th>
    <th>Request Type</th>
    <th>Request Information</th>
    <th>Service Type</th>
    <th>Service Information</th>
    <th>Closed at</th>
  </tr>
  <% @request_records.each do |request_record| %>
    <tr class="log-row table-row">
      <td><a href="/entities/<%= request_record.entity.id %>" ><%= request_record.entity.description %></a></td>
      <td><%= request_record.request_type.description %></td>
      <td><%= request_record.description %></td>
      <td><%= request_record.service_record&.service_type&.description %></td>
      <td><%= request_record.service_record&.description %></td>
      <td><%= request_record.service_record&.closed_at %></td>
    </tr>
  <% end %>
</table>
