<div class="new_entry">
  <a href="/log_entries/new">Add New Log Entry</a>
</div>
<table class="table log_entries-table">
  <tr class="table-header">
    <th>Closed at</th>
    <th>Entity</th>
    <th>Fault Description</th>
    <th>Service Description</th>
    <th>Additional Information</th>
  </tr>
  <% @log_entries.each do |log_entry| %>
  <tr class="table-row">
    <td><%= log_entry.closed_at %></td>
    <td><a href="entities/<%= entity.id %>" ><%= entity.id %></a></td>
    <td><%= log_entry.fault %></td>
    <td><%= log_entry.service %></td>
    <td><%= log_entry.details %></td>
  </tr>
  <% end %>
</table>
