<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
</head>
<body>
  <%= erb :navbar %>
  <% flash.each do |type, message| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <% if message.kind_of?(Array) %>
        <ul>
          <% message.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% else %>
        <%= message %>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>