<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= page_title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
  <script type="text/javascript" src="/js/keys-table.js"></script>
</head>
<body>
  <%= erb :navbar %>
  <% flash.each do |type, message| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <% if message.kind_of?(Array) %>
        <ul>
          <% message.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% else %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div class="content">
    <%= yield %>
  </div>
  <%= erb :footer %>
</body>
</html>