<h3 class="title">Edit Assembly</h3>
<% if current_log.owner_user == current_user %>
  <div class="action-menu">
    <button class="action-button delete-button" onclick="location.href='/confirm_delete/assemblies/<%= @assembly.id %>';">
      Delete Assembly
    </button>
  </div>
<% end %>
<form class="form new-element" method="post" action="/assemblies/edit/<%= @assembly.id %>">
  <label for="description">Description</label>
  <input type="text" name="description" value="<%= @assembly.description %>"><br>
  <label for="manufacturer">Manufacturer</label>
  <input type="text" name="manufacturer" value="<%= @assembly.manufacturer %>"><br>
  <label for="model">Model</label>
  <input type="text" name="model" value="<%= @assembly.model %>"><br>
  <button class="submit-button" type="submit" name="submit">Submit</button>
</form>