<% @assemblies.each do |assembly| %>
<table class="table assembly-table">
  <tr class="table-header">
    <th colspan="2"><%= assembly.description %> (<%= assembly.manufacturer %>) </th>
  </tr>
  <tr class="table-header">
    <th>Entity</th>
    <th>Group</th>
  </tr>
  <% assembly.entities.each do |entity| %>
  <tr class="table-row">
    <td><a href="entities/<%= entity.id %>" ><%= entity.id %> | <%= entity.description %></a></td>
    <td><%= entity.group&.description %></td>
  </tr>
  <% end %>
</table>
<% end %>

<a href="/assemblies/new">New assembly</a>