<% if current_key&.admin? %>
  <div class="action-menu">
    <button class="action-button" onclick="location.href='/assemblies/new';">
      New Assembly
    </button>
  </div>
<% end%>
<table class="table elements-table assemblies-table">
  <tr class="table-row">
    <th class="header-cell">Assembly</th>
    <th class="header-cell">Manufacturer</th>
    <th class="header-cell">Model</th>
  </tr>
  <% assemblies.order(:description, :manufacturer).each do |assembly| %>
  <tr class="table-row">
    <td class="table-cell">
      <a href="assemblies/<%= assembly.id %>" >
        <%= assembly.description %>
      </a>
    </td>
    <td class="table-cell">
      <a href="assemblies/<%= assembly.id %>" >
        <%= assembly.manufacturer %>
      </a>
    </td>
    <td class="table-cell">
      <a href="assemblies/<%= assembly.id %>" >
        <%= assembly.model %>
      </a>
    </td>
  </tr>
  <% end %>
</table>