<h3 class="title">Edit Entity</h3>
<% if current_log.owner_user == current_user %>
  <div class="action-menu">
    <button class="action-button delete-button" onclick="location.href='/confirm_delete/entities/<%= @entity.id %>';">
      Delete Entity
    </button>
  </div>
<% end %>
<form class="form new-element" method="post" action="/entities/edit/<%= @entity.id %>">
  <label for="number">Number</label>
  <input type="text" name="number" value="<%= @entity.number %>"><br>
  <label for="description">Description</label>
  <input type="text" name="description" value="<%= @entity.description %>"><br>
  <label for="assembly_id">Assembly</label>
  <select name="assembly_id">
    <% assemblies.each do |assembly| %>
      <% if assembly == @entity.assembly %>
        <option value=<%= assembly.id %> selected>
      <% else %>
        <option value=<%= assembly.id %>>
      <% end %>
        <%= assembly.manufacturer %> | <%= assembly.description %> | <%=  assembly.model %></option>
    <% end %>
  </select><br>
  <label for="serial">Serial Number</label>
  <input type="text" name="serial" value="<%= @entity.serial %>"><br>
  <button class="submit-button" type="submit" name="submit">Submit</button>
</form>