<% if current_key&.admin? %>
  <div class="action-menu">
    <button class="action-button" onclick="location.href='/entities/new';">
      New Entity
    </button>
  </div>
<% end%>
<table class="table elements-table entities-table">
  <tr class="table-header">
    <th class="header-cell">Entity</th>
    <th class="header-cell">Description</th>
    <th class="header-cell">Assembly</th>
    <th class="header-cell">Manufacturer</th>
    <th class="header-cell">Model</th>
  </tr>
  <% entities.each do |entity| %>
  <tr class="table-row" ondblclick="location.href='/entities/<%= entity.id %>';">
    <td class="table-cell">
      <%= entity.number %>
    </td>
    <td class="table-cell">
      <%= entity.description %>
    </td>
    <td class="table-cell">
      <%= entity.assembly&.description %>
    </td>
    <td class="table-cell">
      <%= entity.assembly&.manufacturer %>
    </td>
    <td class="table-cell">
      <%= entity.assembly&.model %>
    </td>
  </tr>
  <% end %>
</table>