<table class="table entities-table">
  <tr class="table-row">
    <th class="header-cell">Entity</th>
    <th class="header-cell">Description</th>
    <th class="header-cell">Assembly</th>
    <th class="header-cell">Manufacturer</th>
    <th class="header-cell">Model</th>
  </tr>
  <% @entities.each do |entity| %>
  <tr class="table-row">
    <td class="table-cell">
      <a href="entities/<%= entity.id %>">
        <%= entity.id %>
      </a>
    </td>
    <td class="table-cell">
      <a href="entities/<%= entity.id %>">
        <%= entity.description %>
      </a>
    </td>
    <td class="table-cell">
      <a href="entities/<%= entity.id %>">
        <%= entity.assembly&.description %>
      </a>
    </td>
    <td class="table-cell">
      <a href="entities/<%= entity.id %>">
        <%= entity.assembly&.manufacturer %>
      </a>
    </td>
    <td class="table-cell">
      <a href="entities/<%= entity.id %>">
        <%= entity.assembly&.model %>
      </a>
    </td>
  </tr>
  <% end %>
</table>