<div class="new_entry">
  <a href="/entities/new">Add New Entity</a>
</div>
<table class="table entities-table">
  <tr class="table-header">
    <th>Entity</th>
    <th>Description</th>
    <th>Assembly</th>
    <th>Manufacturer</th>
    <th>Model</th>
  </tr>
  <% @entities.each do |entity| %>
  <tr class="table-row">
    <td><a href="entities/<%= entity.id %>" ><%= entity.id %></a></td>
    <td><%= entity.description %></td>
    <td><%= entity.assembly&.description %></td>
    <td><%= entity.assembly&.manufacturer %></td>
    <td><%= entity.assembly&.model %></td>
  </tr>
  <% end %>
</table>