<table class="table entities-table">
  <tr class="table-header">
    <th>Entity</th>
    <th>Assembly</th>
    <th>Group</th>
  </tr>
  <% @entities.each do |entity| %>
  <tr class="table-row">
    <td><a href="entities/<%= entity.id %>" ><%= entity.id %> | <%= entity.description %></a></td>
    <td><%= entity.assembly&.description %></td>
    <td><%= entity.group&.description %></td>
  </tr>
  <% end %>
<a href="/entities/new">New entity</a>