<h3 class="title"><%= @entity.number %> | <%= @entity.description %></h3>
<% if current_key.admin? %>
  <div class="action-menu">
    <button class="action-button" onclick="location.href='/entities/edit/<%= @entity.id %>';">
      Edit Entity
    </button>
  </div>
<% end %>
<p>
  <strong>Assembly:</strong> <%= @entity.assembly.description %>
</p>
<p>
  <strong>Manufacturer:</strong> <%= @entity.assembly.manufacturer %>
</p>
<p>
  <strong>Model:</strong> <%= @entity.assembly.model %>
</p>
<p>
  <strong>Serial Number:</strong> <%= @entity.serial %>
</p>

<% @request_records = request_records&.by_entity(@entity) %>
<%= erb :"shared/log_table" %>
