<h1><%= @entity.id %> | <%= @entity.description %></h1>
<% if @entity.assembly %>
  <h3>
    Assembly: <%= @entity.assembly.description %>
  </h3>
  <h3>
    Manufacturer: <%= @entity.assembly.manufacturer %>
  </h3>
  <h3>
    Model: <%= @entity.assembly.model %>
  </h3>
<% end %>

<table class="table log_entries-table">
  <tr class="table-header">
    <th>Created at</th>
    <th>Request Description</th>
    <th>Service</th>
    <th>Additional Information</th>
  </tr>
  <% @entity.log_entries.each do |log_entry| %>
  <tr class="table-row">
    <td><%= log_entry.created_at.strftime("%F") %></td>
    <td><%= log_entry.request&.description %></td>
    <td><%= log_entry.service_record&.service.description %></td>
    <td><%= log_entry.service_record&.details %></td>
    <td><%= log_entry.service_record&.closed_at %></td>
  </tr>
  <% end %>
</table>

