<h4>User account</h4>
<div class="action-menu">
  <button class="action-button" onclick="location.href='/users/edit';">
    Edit Info
  </button>
  <button class="action-button" onclick="location.href='/users/password';">
    Change Password
  </button>
</div>
<p><strong>First Name: </strong><%= current_user.first_name %></p>
<p><strong>Last Name: </strong><%= current_user.last_name %></p>
<p><strong>Email: </strong><%= current_user.email %></p>
<div class="user-logs">
  <h5>Current associated user logs:</h5>
  <ul class="user-logs-list">
    <% current_user.keys.each do |key| %>
      <li><a href="/logs/<%= key.log_id %>"><%= key.log.name %></a></li>
    <% end %>
  </ul>
  <form class="form new-element" method="post" action="/logs">
    <h4>Create new log:</h4>
    <label for="name">Name</label>
    <input type="text" name="name" required><br>
    <label for="description">Description</label>
    <input type="text" name="description"><br>
    <input type="submit" name="submit">
  </form>
</div>


