<h4 class="title">User account</h4>
<div class="action-menu">
  <button class="action-button" onclick="location.href='/users/edit';">
    Edit Info
  </button>
  <button class="action-button" onclick="location.href='/users/password';">
    Change Password
  </button>
</div>
<p><strong>First Name: </strong><%= current_user.first_name %></p>
<p><strong>Last Name: </strong><%= current_user.last_name %></p>
<p><strong>Email: </strong><%= current_user.email %></p>
<div class="user-logs">
  <h4 class="title">User Logs</h4>
  <table class="table elements-table logs-table">
    <tr class="table-header">
      <th class="header-cell">Name</th>
      <th class="header-cell">Description</th>
      <th class="header-cell">Permissions</th>
    </tr>
    <% current_user.personal_logs.each do |log| %>
    <tr class="table-row">
      <td class="table-cell">
        <a href="/logs/access/<%= log.id %>"><%= log.name %></a>
      </td>
      <td class="table-cell">
        <a href="/logs/access/<%= log.id %>"><%= log.description %></a>
      </td>
      <td class="table-cell">
        <a href="/logs/access/<%= log.id %>">owner</a>
      </td>
    </tr>
    <% end %>
    <% current_user.keys.each do |key| %>
    <tr class="table-row">
      <td class="table-cell">
        <a href="/logs/access/<%= key.log_id %>"><%= key.log.name %></a>
      </td>
      <td class="table-cell">
        <a href="/logs/access/<%= key.log_id %>"><%= key.log.description %></a>
      </td>
      <td class="table-cell">
        <a href="/logs/access/<%= key.log_id %>"><%= key.permissions %></a>
      </td>
    </tr>
    <% end %>
  </table>
  <form class="form new-element" method="post" action="/logs">
    <h4 class="title">Create new log</h4>
    <label for="name">Name</label>
    <input type="text" name="name" required><br>
    <label for="description">Description</label>
    <input type="text" name="description"><br>
    <button class="submit-button" type="submit" name="submit">Submit</button>
  </form>
</div>


