<h3 class="title"><%= current_log.name %></h3>
<p><%= current_log.description %></p>
<h4 class="title">Log Users</h4>
<table class="table elements-table keys-table">
<tr class="table-header users-head">
  <th class="header-cell users-header-cell">
    Full Name
  </th>
  <th class="header-cell users-header-cell">
    Email
  </th>
  <th class="header-cell users-header-cell">
    Key Permissions
  </th>
</tr>
<% current_log.keys.each do |key| %>
  <tr class="table-row users-row" id="userKey<%= key.id %>">
    <td class="table-cell users-cell">
      <%= key.user.full_name %>
    </td>
    <td class="table-cell users-cell">
      <%= key.user.email %>
    </td>
    <td class="table-cell users-cell">
      <%= key.permissions  %>
      <% unless key.user == current_user %>
        <a class="revoke-action" id="revoke-userKey<%= key.id %>" href="/logs/revoke_key/<%= key.id %>">Revoke Key</a>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<form class="form new-log-user" method="post" action="/logs/add_key">
  <h4 class="title">Add New User</h4>
  <label for="user_email">User email</label>
  <input type="text" name="user_email"><br>
  <div class="user-permissions">
    <div class="option-checkbox">
      <input type="checkbox" name="active">
      <label for="active">Active</label>
    </div>
    <input type="checkbox" name="admin">
    <label for="admin">Administrator</label>
  </div>
  <label for="check_password">Confirm with Password:</label>
  <input type="password" id="check_password" name="check_password" required><br>
  <button class="submit-button" type="submit" name="submit">Submit</button>
</form>
