<h3 class="title"><%= @log.name %></h3>
<p><%= @log.description %></p>
<h4 class="title">Log Users</h4>
<table class="table users-table">
<tr class="table-row users-head">
  <th class="header-cell users-header-cell">
    Full Name
  </th>
  <th class="header-cell users-header-cell">
    Email
  </th>
  <th colspan="2" class="header-cell users-header-cell">
    Key Permissions
  </th>
</tr>
<% @log.keys.each do |key| %>
  <tr class="table-row users-row">
    <td class="table-cell users-cell">
      <%= key.user.full_name %>
    </td>
    <td class="table-cell users-cell">
      <%= key.user.email %>
    </td>
    <td class="table-cell users-cell">
      <%= key.permissions  %>
    </td>
    <% unless key.user == current_user %>
      <td class="table-cell users-cell revoke-cell">
        <a class="revoke-action" href="/logs/revoke_key/<%= key.id %>">Revoke Key</a>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<form class="form new-log-user" method="post" action="/logs/add_key">
  <h4 class="title">Add New User</h4>
  <label for="email">User email</label>
  <input type="text" name="email" required><br>
  <div class="user-permissions">
    <div class="option-checkbox">
      <input type="checkbox" name="active">
      <label for="active">Active</label>
    </div>
    <input type="checkbox" name="admin">
    <label for="admin">Administrator</label>
  </div>
  <label for="check_password">Confirm with Password:</label>
  <input type="password" id="check_password" name="check_password" required><br>
  <input type="submit" name="submit">
</form>
