<h2>Edit Service Record</h2>
<form class="form edit-element" method="post" action="/service_record/edit/<%= @service_record.id %>">
  <select name="service_type_id">
    <% @service_types.each do |service_type| %>
      <% if service_type == @service_record.service_type %>
        <option selected value=<%= service_type.id %>><%= service_type.description %></option>
      <% else %>
        <option value=<%= service_type.id %>><%= service_type.description %></option>
      <% end %>
    <% end %>
  </select><br>
  <label for="service_description">Description</label>
  <textarea type="text" name="service_description"><%= @service_record.description %></textarea><br>
  <label for="closed_at">Close Date</label>
  <input type="date" name="closed_at" value=<%= @service_record.closed_at %>><br>
  <input type="submit" name="submit">
</form>
