<h2>New Service Record</h2>
<div class="request-info"><h4>Request #<%= @request_record.id %></h4>
  <h5>Entity:</h5>
  <p><%= @request_record.entity.id %></p>
  <h5>Type:</h5>
  <p><%= @request_record.request_type.description %></p>
  <h5>Description:</h5>
  <p><%= @request_record.description %></p>
</div>  <h3>Service Info</h3>
<form method="post" action="/service_record">
  <input type="hidden" name="request_record_id" value="<%=@request_record.id%>">
  <select name="service_type_id">
    <% @service_types.each do |service_type| %>
      <option value=<%= service_type.id %>><%= service_type.description %></option>
    <% end %>
  </select><br>
  <label for="service_description">Description</label>
  <textarea type="text" name="service_description"></textarea><br>
  <label for="closed_at">Close Date</label>
  <input type="date" name="closed_at"><br>
  <input type="submit" name="submit">
</form>
